{% extends 'versus.html.twig' %}

{% block content %}
    <div style='display:flex'>
        <div class="col-md-4 d-flex align-self-stretch text-center">
            <div class="media block-6 services d-block step-back">
                <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                    <img class="hero" src="{{ api.image.url }}" height="300px" alt="Photo">
                    <h1 class="name-hero">{{ api.name }}</h1>
                </div>
            </div>
        </div>

        <div>
         <div class="col-md-4 d-flex align-self-stretch text-center">
            <div class="media block-6 services d-block step-back">
                <div class="media-body p-2 mt-3 justify-content-center align-items-center">
                    <img class="ennemy" src="{{ api2.image.url }}" height="300px" alt="Photo">
                    <h1 class="name-ennemy">{{ api2.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}