.card {
  display: flex;
  width: 290px; /*1*/
  height: 600px;
  margin-right: 50px; /*2*/
  margin-left: 35px; /*2*/
  background-image: url("../../assets/images/hero-background.jpg");
  box-shadow: 0px 5px 20px #999; /*4*/
  opacity: 0.9;
  border-style:solid;
  border-color:black;
}

.card button{
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Comic Sans MS";
  background-image: linear-gradient(to bottom, #b61818, #a11314, #8d0e10, #7a090c, #670505);
}

.card a { /*5*/
  color: #fcfcfc;
  text-decoration: none;
}
.card-image {
  height: 600px;/*1*/
  width: 15em;
  position: relative;/*2*/
  overflow: hidden;/*3*/
  padding-left: 20px;
}
.card-image img {
  height: 250px;
  width: 100%;
  position: relative; top:10px; left:10px;
}
.card-body {
  text-align:center;  /*1*/
  box-sizing: border-box; /*3*/
  color: #050505;
}
.card-excerpt {
  font-family: 'Playfair Display', serif;
  color: #777;
}
.icon{
  margin-right: 15px;
}
.card-body p{
  margin: 6px;
}
.card-body h3{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
body{
  background-image: url("../../assets/images/fight.webp");
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: "Comic Sans MS";
}
.h2, h3, h4, h5, h6, p, li{
  color: #fcfcfc;
}
.bangers{
  text-align: bottom;
  top: 5%;
}
.img{
  box-shadow:2px 2px 2px gray,
  -1px -1px 2px white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
.img1{
  box-shadow:2px 2px 2px gray,
  -1px -1px 2px white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: right;
}
.btn-success{
  height: 100px;
  width: 130px;
  color: black;
  left: 160px;
  position: relative;
}
.bangers{
 text-decoration: underline goldenrod;
}
.bangers-text2{
  position: relative;
  left: 420px;
  top: -160px;
}

.bangers-text1{
  position: relative;
  left: 570px;
  color: whitesmoke;
  text-decoration: underline goldenrod;
}
.bangers-text3{
  text-decoration: underline goldenrod;
  position: relative;
  left: 420px;
  top: -160px;
}
.bangers-text4{
 color: black;
}

